In [1]:
%load_ext autoreload
%autoreload 2
import glob
import json

outs = {}


for filename in sorted([f for f in glob.glob("../output/*.json") if "test" not in f]): 
    model_name = os.path.basename(filename).split(".")[0]
    print(model_name)
    with open(filename) as f:
        outs[model_name] = json.load(f)

bertin
beto-ft-1000
beto-ft-2000
beto-uncased

In [3]:
import pandas as pd
import numpy as np

resume = []

task_metrics = {
    "context_hate": ["eval_mean_f1", "eval_hate_f1"],
    "sentiment": ["eval_macro_f1", "eval_micro_f1"],
    "emotion": ["eval_macro_f1", "eval_micro_f1"],
}

for model_name, output in outs.items():
    line = {
        "model": model_name, 
    }

    for task, metrics in task_metrics.items():
        for metric in metrics:
            arr = np.array([evaluation[metric] for evaluation in output[task]])
            metric_name = metric.replace("eval_", "")
            line[task+" "+metric_name] = f"{arr.mean():.4f} +- {arr.std():.3f}"
    resume.append(line)

pd.DataFrame(resume)

,model,context_hate mean_f1,context_hate hate_f1,sentiment macro_f1,sentiment micro_f1,emotion macro_f1,emotion micro_f1
0,bertin,0.5443 +- 0.005,0.6613 +- 0.009,0.6650 +- 0.002,0.6756 +- 0.003,0.5245 +- 0.026,0.6569 +- 0.019
1,beto-ft-1000,0.5857 +- 0.003,0.6861 +- 0.002,0.6721 +- 0.001,0.6786 +- 0.004,0.5335 +- 0.012,0.6798 +- 0.020
2,beto-ft-2000,0.5848 +- 0.005,0.6865 +- 0.003,0.6751 +- 0.005,0.6789 +- 0.007,0.5257 +- 0.010,0.6957 +- 0.006
3,beto-uncased,0.5906 +- 0.004,0.6856 +- 0.006,0.6517 +- 0.002,0.6573 +- 0.003,0.5250 +- 0.014,0.6681 +- 0.016